<p style="color: green"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if @user.ratings.empty? %>
  User hasn't rated any beers!
<% else %>
  <p>
    <strong>Favorite beer style:</strong>
    <%= @user.favorite_style.name %>
  </p>

  <p>
    <strong>Favorite brewery:</strong>
    <%= @user.favorite_brewery.name %>
  </p>
  
  <p><strong>Ratings:</strong></p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %> with an average of <%= @user.average_rating %>
  <p>
  <% @user.ratings.each do |rating| %>
    <li> <%= render rating %> 
      <% if @user == current_user %>
        <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %> 
      <% end %>
    </li>
  <% end %>
  </p>
<% end %>

<% if @user.memberships.empty? %>
  User hasn't joined any clubs!
<% else %>
  <p><strong>Clubs:</strong></p>
  <ul>
  <% @user.memberships.each do |membership| %>
    <li> <%= link_to membership.beer_club.to_s, membership.beer_club %> </li>
  <% end %>
  </ul>
<% end %>

<% if @user == current_user %>
  <div>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= link_to "Back to users", users_path %>

    <%= button_to "Destroy this user", @user, method: :delete %>
  </div>
<% end %>
