<div id="<%= dom_id brewery %>">
  
  <h2>
    <%= link_to brewery.name, brewery %>
    <% if not brewery.active %>
      <span class="badge bg-secondary">retired</span>
    <% end %>
  </h2>

  <p><i>
    Established in <%= brewery.year %>
  </i></p>

  <% if brewery.ratings.empty? %>
    None of the beers have yet been rated!
  <% else %>
    Brewery has <%= pluralize(brewery.ratings.count, 'rating') %>  with an average of <%= brewery.average_rating %>
  <% end %>

  <p>
  <% brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
  </p>

</div>
