<p style="color: green"><%= notice %></p>

<% if @place %>
   <h1><%= @place[0].name %></h1>

   <p><%= @place[0].status %><p>

   <p><%= @place[0].street %><p>

   <p><%= @place[0].zip + " " + @place[0].city %><p>
  
<% else %>
 <p>No city selected!</p>
<% end %>